# ===== C# / Visual Studio =====
.vs/
*.user
*.suo
bin/
obj/
Debug/
Release/

# ===== Node / JavaScript =====
node_modules/

# ===== Python =====
__pycache__/
*.pyc

# ===== Geral =====
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db
/java-core/uc00619-cinel/fch-02/ex-01-gestao-clientes-supermercado/nbproject/private/
/java-core/vetapp/nbproject/private/
/java-core/vetapp/build/
/java-core/vetapp/dist/
/java-core/uc00619-cinel/fch-03/ex-01-gestao-contactos/nbproject/private/
