*.png
/01-java-estudos/ficha-01/bloco-01-fundamentos-gui/AreaTrapezio/nbproject/private/
/01-java-estudos/ficha-01/bloco-01-fundamentos-gui/AreaTrapezio/build/
/01-java-estudos/ficha-01/bloco-01-fundamentos-gui/AreaTrapezioApp/nbproject/private/
/01-java-estudos/ficha-01/bloco-01-fundamentos-gui/AreaTrapezio.java/nbproject/private/
/01-java-estudos/ficha-01/bloco-01-fundamentos-gui/CalculadoraImc/nbproject/private/
/01-java-estudos/ficha-01/bloco-02-interface-dinamica/exercicio-3-calculadora-figuras-planas/exercicio-3-calculadora-figuras-planas/nbproject/private/
